@import './reset';
@import './settings/variables';

body {
  font-size: $font-size-base;
}

#app {
  color: $color-base;
  font-family: $font-family-base;
  font-size: $font-size-app;
  // font-family: 'Ubuntu Condensed', sans-serif;
  //font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $color-title;
  font-family: $font-family-title;
}

input,
textarea,
select {
  color: $color-base;
  font-family: $font-family-base;
  font-size: $font-size-app;
}

.title {
  font-size: $font-size-title;
  margin-bottom: $space;
}

.sub-title {
  font-size: $font-size-sub-title;
}

.logo {
  display: block;
  margin-bottom: $space;
}