<script>
  export default {
    props: {
      type: {
        type: String,
        default: 'text',
      },
      placeholder: {
        type: String,
        default: '',
      },
    },
  };
</script>

<template>
  <input :type="type" :placeholder="placeholder" class="form-control" />
</template>  

<style lang="scss">
  @import '../assets/scss/settings/variables.scss';

  .form-control {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    padding-bottom: 10px;
    width: 100%;
    margin: $space 0;

    &:focus {
      outline: none;
    }
  }
</style>
