<script>
  // Components
  import FormControl from './FormControl.vue';

  export default {
    components: {
      FormControl,
    },
  }
</script>

<template>
    <div class="login">
      <!-- <img src="../assets/logo.svg" alt="logo" class="logo" /> -->
      <svg-icon name="logo" :basePath="'../assets'" :size="24"></svg-icon>
      <h1 class="title">Hello</h1>
      <p>Sign in with your credentials or create a new account</p>
      <form action="" class="login__form">
        <FormControl placeholder="Email address"/>
        <FormControl type="password" placeholder="Password" />
      </form>
    </div>
</template>

<style lang="scss">
  @import '../assets/scss/settings/variables.scss';
  .login {
    box-sizing: border-box;
    max-width: 311px;
    left: 50%;
    padding: 0px $gutter; 
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    &__form {
      margin: $space 0;
    }
  }
</style>
