<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
// Components
import FormControl from './components/FormControl.vue';

export default {
  name: 'app',
  components: {
    FormControl,
  },
}

</script>

<style lang="scss">
  @import './assets/scss/app.scss';
</style>
