// Colors
$color-primary: #7540EE;
$color-base: #787993;
$color-title: #25265E;

// Fonts
$font-family-base: 'Ubuntu Mono', monospace;
$font-family-title: $font-family-base;
$font-size-base: 16px;
$font-size-app: 1rem;
$font-size-title: 1.9rem;
$font-size-sub-title: 1.5rem;

// Sspacing
$gutter: 15px;
$space: 25px;

// Grid breakpoints
//
// Media code screen sizes.
$breakpoints: (
  mobile-s:  240px,
  mobile-l:  425px,
  tablet-s:  480px,
  tablet-l:  768px,
  screen-s:  1170px,
  screen-l:  1280px
) !default;

@import './mixins';